{% extends 'base.html' %}

{% block content %}
    <h1 class="text-dark bg-warning" style="font-size:50px;
    font-style:italic; text-align:center;">{{ apps }}</h1>
    <h1 class="text-warning" style="font-size:15px;
    font-style:italic; text-align:center;">menyimpan barang yang tidak ada di kebanyakan rumah</h1>

    <h5>Name: </h5>
    <p>{{ name }}<p>
        
    <h5>Class: </h5>
    <p>{{ class }}<p>

    <table id="item_table"></table>


<br />


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Item</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form" onsubmit="return false;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="name" name="name"></input>
                    </div>
                    <div class="mb-3">
                        <label for="amount" class="col-form-label">Amount:</label>
                        <input type="number" class="form-control" id="amount" name="amount"></input>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="col-form-label">Price:</label>
                        <input type="number" class="form-control" id="price" name="price"></input>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="col-form-label">Description:</label>
                        <textarea class="form-control" id="description" name="description"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Item</button>
            </div>
        </div>
    </div>
</div>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Item by AJAX</button>

<h5>Sesi terakhir login: {{ last_login }}</h5>

<a href="{% url 'main:logout' %}">
    <button>
        Logout
    </button>
</a>

<script>
    async function getItem() {
        return fetch("{% url 'main:get_item_json' %}").then((res) => res.json())
    }


    async function refreshItem() {
        document.getElementById("item_table").innerHTML = ""
        const item = await getItem()
        let htmlString = ` `
        item.forEach((item) => {
            htmlString += ` 
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5> ${item.fields.name}</h5>
                    <p> ${item.fields.amount}</p>
                    <p> ${item.fields.price}</p>
                    <p> ${item.fields.description}</p>
                    <p>  ${item.fields.date_added}</p>
                </div>
            </div>` 
        })
        
        document.getElementById("item_table").innerHTML = htmlString
    }

    refreshItem()

    function addItem() {
        fetch("{% url 'main:add_item_ajax' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshItem)

        document.getElementById("form").reset()
        return false
    }
document.getElementById("button_add").onclick = addItem
</script>

{% endblock content %}