{% extends 'base.html' %}

{% block content %}
    <h1 class="text-dark bg-warning" style="font-size:50px;
    font-style:italic; text-align:center;">{{ apps }}</h1>
    <h1 class="text-warning" style="font-size:15px;
    font-style:italic; text-align:center;">menyimpan barang yang tidak ada di kebanyakan rumah</h1>

    <h5>Name: </h5>
    <p>{{ name }}<p>
        
    <h5>Class: </h5>
    <p>{{ class }}<p>

<table>

    {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}

    {% for item in items %}
        <tr class="card" style="width: 18rem;margin-bottom: 32px; background-color: #cbcb8c; ">
            <div class="card-body:"></div>
                <td class="text-dark bg-warning" class="card-title" style="font-size:25px;">{{item.name}}</td>
                <td class="card-subtitle">Harga: {{item.price}}</td>
                <td>Stok: {{item.amount}}</td>
                <td class="card-text">{{item.description}}</td>
                <td>{{item.date_added}}</td>
                <td>
                    <a href="{% url 'main:edit_item' item.pk %}" class="card-link">
                        <button type="button" class="btn btn-warning">
                            Edit
                        </button>
                    </a>
                    <a href="{% url 'main:delete_item' item.pk %}" class="card-link">
                        <button type="button" class="btn btn-warning">
                            Delete
                        </button>
                    </a>
                </td>
            </div>
        </tr>
    {% endfor %}
</table>

<br />

<a href="{% url 'main:create_item' %}">
    <button>
        Add New Item
    </button>
</a>

<h5>Sesi terakhir login: {{ last_login }}</h5>

<a href="{% url 'main:logout' %}">
    <button>
        Logout
    </button>
</a>
{% endblock content %}